In [2]:
# Below you can find the code that builds up to the â€˜df_reason_modâ€™ checkpoint.
# Additionally, in the comments you can see the code that we ran in the lectures to check 
# the current state of a specific object while explaining various programming or data analytics concepts. 


import pandas as pd
raw_csv_data = pd.read_csv("Absenteeism_data.csv")

# type(raw_csv_data)
# raw_csv_data

df = raw_csv_data.copy()
# df

# pd.options.display.max_columns = None
# pd.options.display.max_rows = None
# display(df)
# df.info()



########## Drop 'ID': ############################
##################################################


# df.drop(['ID'])
# df.drop(['ID'], axis = 1)
df = df.drop(['ID'], axis = 1)

# df
# raw_csv_data



########## 'Reason for Absence' ##################
##################################################


# df['Reason for Absence'].min()
# df['Reason for Absence'].max()
# pd.unique(df['Reason for Absence'])
# df['Reason for Absence'].unique()
# len(df['Reason for Absence'].unique())
# sorted(df['Reason for Absence'].unique())



########## '.get_dummies()' ######################
##################################################


reason_columns = pd.get_dummies(df['Reason for Absence'])
# reason_columns

reason_columns['check'] = reason_columns.sum(axis=1)
# reason_columns

# reason_columns['check'].sum(axis=0)
# reason_columns['check'].unique()

reason_columns = reason_columns.drop(['check'], axis = 1)
# reason_columns

reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first = True)
# reason_columns



########## Group the Reasons for Absence##########
##################################################


# df.columns.values
# reason_columns.columns.values
df = df.drop(['Reason for Absence'], axis = 1)
# df

# reason_columns.loc[:, 1:14].max(axis=1)
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:, 22:].max(axis=1)

# reason_type_1
# reason_type_2
# reason_type_3
# reason_type_4



########## Concatenate Column Values #############
##################################################


# df

df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis = 1)
# df

# df.columns.values
column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

df.columns = column_names
# df.head()



########## Reorder Columns #######################
##################################################


column_names_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 
                          'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

df = df[column_names_reordered]
# df.head()



########## Create a Checkpoint #######################
##################################################


df_reason_mod = df.copy()
df_reason_mod

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,1,0,0,0,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,1,0,0,0,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,0,0,0,1,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,0,0,0,1,31/05/2018,291,31,40,237.656,25,1,1,1,2